.registercontainer{
    width: 500px;
    padding: 10px;
    margin: 50px auto;
    background-color: rgb(236, 136, 153);

}
h3{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 50px auto;
    margin-top: 400px;
}




